<% # encoding: UTF-8 %>
<html>
    <head>
        <title>Twitter Links</title>
        <meta name="description" content="All your Twitter links in a same place" />
        <link rel="stylesheet" href="/css/style.css">
        <link href="/feed/<%= @user.id %>/<%= @user.secret %>" type="application/rss+xml" rel="alternate" />
        <link href="/img/favicon.png" rel="icon" />
    </head>
    <body>
        <header role="navigation">
            <div class="container">
                <a href="/"><img class="brand" src="/img/favicon.png" /></a>

                <ul>
                    <li>Signed in as <a href="http://twitter.com/<%= @user.screen_name %>" target="_blank"><strong><%= @user.screen_name %></strong></a></li>
                    <li><a href="/disconnect">Sign-out</a></li>
                </ul>

                <form role="search">
                    <input type="text" name="search" value="<%= @search %>" />
                    <button type="submit">Search</button>
                </form>
            </div>
        </header>

        <div id="main" class="container">

        <% if @links.empty? %>
            <p>No result found. Please come back later or try another search!</p>
        <% else %>

            <ol class="links">
            <% @links.each do |link| %>
                <li id="link-<%= link.id %>" class="link">
                    <a target="_blank" href="<%= link.url %>">
                        <%= link.title %>
                    </a>
                    <% if not link.thumbnail.nil? then %>
                        <a target="_blank" href="<%= link.thumbnail %>">[img]</a>
                    <% end %>
                    <span><%= ago(link.date) %></span>
                    <span class="lists">in
                    <% link.lists.each do |list| list = @user.lists[list] %>
                        <a href="?search=list:<%= list['slug'] %>"><%= list['name'] %></a>
                    <% end %>
                    </span>
                    <% if not link.domain.nil? then %>
                        <span>(<a href="?search=domain:<%= link.domain %>"><%= link.domain %></a>)</span>
                    <% end %>
                    <% if link.popularity %>
                        <span class="popularity">&mdash; <%= link.popularity %> tweets</span>
                    <% end %>
                    <ul class="tweets">
                    <% link.tweets.each do |id, tweet| %>
                        <li id="tweet-<%= id %>" class="tweet">
                            <a href="?search=user:<%= tweet['user'] %>">@<%= tweet['user'] %></a>:
                            <%= tweet(tweet['text']) %>
                            <a target="_blank" href="http://twitter.com/<%= tweet['user'] %>/status/<%= id %>">[tweet]</a>
                        </li>
                    <% end %>
                    </ul>
                </li>
            <% end %>
            </ol>

            <% if @pages > 1 then %>
            <ul class="pagination">
                <% if @page != 1 then %>
                    <li><a href="<%= query({'page' => @page-1}) %>">Previous</a></li>
                <% end %>
                <% if @page != @pages then %>
                    <li><a href="<%= query({'page' => @page+1}) %>">Next</a></li>
                <% end %>
            </ul>
            <% end %>

        <% end %>
        </div>

        <footer>
            <div class="container">
                <ul>
                    <li>&copy; 2012-2014 <a href="http://www.blizzart.net/" target="_blank">Blizz'art</a></li>
                    <li>Last update: <strong><%= ago(Time.at @user.crawled_at.to_i) %></strong></li>
                    <li><a href="/feed/<%= @user.id %>/<%= @user.secret %>">RSS</a></li>
                    <li>Built with <a href="http://elasticsearch.org" target="_blank">Elastic Search</a>, <a href="http://sinatrarb.com" target="_blank">Sinatra</a> and <a href="http://getbootstrap.com" target="_blank">Bootstrap</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
