<% # encoding: UTF-8 %>
<html>
    <head>
        <title>Twitter Rss</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <link href="/feed/<%= @user.id %>/<%= @user.feed_token %>" type="application/rss+xml" rel="alternate" />
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <p class="pull-right">
                    <a href="/disconnect" title="Sign-out">
                        <i class="icon-off"></i>
                    </a>
                </p>
                <h1>
                    Twitter Rss
                    <small>
                        <%= @user.id %>
                    </small>
                </h1>
            </div>
            <%= yield %>
            <hr/>
            <div class="footer">
                <p class="pull-right">
                    Last update: <strong><%= @user.crawled_at %></strong>
                </p>
                <p>
                    &copy; 2012 <a href="http://www.blizzart.net/" target="_blank">Blizz'art</a>
                </p>
            </div>
        </div>
    </body>
</html>
